img.pokes {
    width: 50px;
}

.card {
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-weight: 400;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);
    border-radius: 8px;
    background-color: #fff;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    margin: 8px;
    padding: 16px;
    word-wrap: break-word;
    text-align: center !important;
}

.card img.pokes {
	width: 250px;
}

ul li {
  display: inline;
  margin: 0px 25px;
  font-size: 25px;
}

ons-button.button {
    background: red;
}

h2 {
	text-align: center;
}

.back-button__icon {
    fill: white!important;
}

/*Search style*/

.search-box {
    text-align: center;
    margin-bottom: 10px;
}

input#search-field {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    border-color: red;
}

button#search-button {
    padding: 10px 20px;
    background: red;
    border-color: antiquewhite;
    color: white;
    border-radius: 5px;
}

.paginatiion-pokemons {
    text-align: center;
    margin: 10px 0px;
}